<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Vendor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
        <script src="main.js"></script>
    </head>
    <body>
      <div class="container">
        <h1>Add a New Vendor</h1>
        <form action="/vendors" method="post">
          <div class="form-group">
          <label for="vendorName">Name of the Vendor</label>
          <input id="vendorName" name="vendorName" type="text">
          </div>

          <div class="form-group">
          <label for="vendorDescription">Vendor Description</label>
          <input id="vendorDescription" name="vendorDescription" type="text">
          </div>

          <button class="btn btn-primary" type="submit">Add Vendor</button>
        </form>

        <a href="/vendors"><button class="btn btn-primary" type="click" name="button">Back To Vendor List</button></a>
        <a href='/'><button class="btn btn-primary" type="click" name="button">Back Home</button></a>

      </div>
    </body>
</html>