@using OrderTracker.Models;

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vendor List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Order History</h3>
            <h3>Total Orders: @Order._idCounter</h3>
            @if (Model.Count == 0)
            {
                <p>You have no order history.</p>
            }
            <form action="/orders/remove" method="post">
                <div class="form-check">
                  <ol>
                    @foreach (var order in @Model["orders"])
                    {
                      <h4><input class="form-check-input" type="checkbox" name ="ids" value="@order.Id"><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></h4>
                    }
                  </ol>
                </div>
              <button class="btn btn-primary" id="btn-delete" type="submit" name="button">Remove An Order</button>
            </form> 
            
            <a href="/vendors/@Model["vendor"].Id/orders/new"><button class="btn btn-primary" type="click" name="button">Add New Order</button></a>
            <a href="/vendors"><button class="btn btn-primary" type="click" name="button">Back to Vendor List</button></a>
            <a href='/'><button class="btn btn-primary" type="click" name="button">Back Home</button></a>
        </div> 
    </body>
</html>