<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <script src="main.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Royal Bakery!</h1>
            <a href="/items/new"><button class="btn btn-primary" type="click" name="button">Create a New Order</button></a>
            <a href="/items"><button class="btn btn-primary" type="click" name="button">See Order History</button></a>  
        </div>
    </body>
</html>