@using OrderTracker.Models;

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vendor Order History</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Order History</h1>
            <h3>Total Order: @Order._idCounter</h3>
            @if (Model.Count == 0)
            {
                <p>There is no order history.</p>
            }
            <form action="/orders/remove" method="post">
                <div class="form-check">
                    <ul>
                        @foreach (Order order in Model)
                        {
                            <li><input class="form-check-input" type="checkbox" name ="ids" value="@order.Id"><a href='/orders/@order.Id'>@order.Name</a></li>
                        }
                    </ul>
                </div>
                <button class="btn btn-primary" id="btn-delete" type="submit" name="button">Remove An Item</button>
            </form>
         
            <a href="/orders/new"><button class="btn btn-primary" type="click" name="button">Add a New Order</button></a>
        </div> 
    </body>
</html>