<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Order Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/site.css">
        <script src="main.js"></script>
    </head>
    <body>
      <div class="container">
        <h1>Order Details: </h1>
          <h2>@Model["order"].Title</h2>
            <ul>
            <li>Description: @Model["order"].Description</li>
            <li>Total: @Model["order"].Cost</li>
            <li>Date: @Model["order"].Date lbs</li>
            </ul>

            <a href='/vendors/@Model["vendor"].Id/orders/new'><button class="btn btn-primary" type="click" name="button">Add An Orders</button></a>
            <a href='/vendors/@Model["vendor"].Id/orders'><button class="btn btn-primary" type="click" name="button">View or Edit Orders</button></a>
      </div>
    </body>
</html>